
@keyframes ldio-kihy67zy4zn {
   0% { transform: translate(12px,80px) scale(0); }
  25% { transform: translate(12px,80px) scale(0); }
  50% { transform: translate(12px,80px) scale(1); }
  75% { transform: translate(80px,80px) scale(1); }
 100% { transform: translate(148px,80px) scale(1); }
}
@keyframes ldio-kihy67zy4zn-r {
   0% { transform: translate(148px,80px) scale(1); }
 100% { transform: translate(148px,80px) scale(0); }
}
@keyframes ldio-kihy67zy4zn-c {
   0% { background: #e15b64 }
  25% { background: #abbd81 }
  50% { background: #f8b26a }
  75% { background: #f47e60 }
 100% { background: #e15b64 }
}
.ldio-kihy67zy4zn div {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(80px,80px) scale(1);
  background: #e15b64;
  animation: ldio-kihy67zy4zn 2s infinite cubic-bezier(0,0.5,0.5,1);
}
.ldio-kihy67zy4zn div:nth-child(1) {
  background: #f47e60;
  transform: translate(148px,80px) scale(1);
  animation: ldio-kihy67zy4zn-r 0.5s infinite cubic-bezier(0,0.5,0.5,1), ldio-kihy67zy4zn-c 2s infinite step-start;
}.ldio-kihy67zy4zn div:nth-child(2) {
  animation-delay: -0.5s;
  background: #e15b64;
}.ldio-kihy67zy4zn div:nth-child(3) {
  animation-delay: -1s;
  background: #f47e60;
}.ldio-kihy67zy4zn div:nth-child(4) {
  animation-delay: -1.5s;
  background: #f8b26a;
}.ldio-kihy67zy4zn div:nth-child(5) {
  animation-delay: -2s;
  background: #abbd81;
}
.loadingio-spinner-ellipsis-5lalzjzcyfb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* display: inline-block; */
  overflow: hidden;
  background: #fff;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

}
.ldio-kihy67zy4zn {
  width: 200px;
  height: 200px;
  position: absolute;
  background: transparent;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-kihy67zy4zn div { box-sizing: content-box; }