.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all .5s;
  display: none;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
  display: flex;
}

.modal__content {
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  transform: scale(.5);
  transition: all .4s;
  width: 50vw;
}

.modal__content.active {
  transform: scale(1);
}